@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background: linear-gradient(90deg,rgba(30,29,112,1) 0%, rgba(0,0,0,1) 50%,rgba(105,27,27) 100%);
  min-height: 100vh;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgba(158, 158, 158, 0.298);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  background-color: rgba(101, 101, 101, 0.132);
  backdrop-filter: blur(20px);
 }
nav ul {
  display: flex;
  gap: 4em;
}
nav a {
  position: relative;
  color: white;
  font-weight: 500;
  margin-left: 40px;
}
nav a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 1em;
  background-color: #03e9f4;
  box-shadow: 0 0 25px #03e9f4,0 0 50px #03e9f4;
  transition: 0.4s ease;
}
nav a:hover::before {
  width: 100%;
}
nav .logo {
  font-size: 28px;
  color: white;
  font-weight: 800;
  opacity: 0.8;
  transition: 0.3s ease;
}
nav .logo:hover {
  opacity: 1;
  transform: scale(1.1);
}
nav .search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  color: white;
  font-weight: 700;
}
nav .search input {
  border-radius: 1em;
  height: 30px;
  width: 200px;
}
